<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Vaibhav/eclipse-workspace/catview2">
    <classes>
        <class name="tatto.TestVaibhav"><methods><include name="testjsonpath"/><include name="imageById"/><include name="voteTocat"/><include name="getAnalysisReport"/></methods></class>
    </classes>
</test>
</suite>